* {
  font-family: "Press Start 2P";
  font-size: 22px;
}

.container {
  display: grid;
  grid-template-columns: 320px 200px;
  justify-content: center;
  margin-top: 50px;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#board {
  border: 2px solid black;
}
#play-btn {
  background-color: greenyellow;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

